/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p {
    font-family: 'Poppins', sans-serif;
    
  }


  //Darkmode


  html, body {
    overflow-x: hidden;
  }

  
  body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
  
    a {
      color: #f0f0f0;
    }
  

    .navbar-toggler-icon {
        filter: invert(1);
    }


    .navbar {
     // background-color: #1a1a1a !important;
    }
  
    .nav-link {
      color: #ffffff !important;
    }
  
    section {
      background-color: transparent;
  
      h1,
      h2,
      h3,
      p,
      li {
        color: #f0f0f0;
      }
    }
  
  
  }
  
  